@font-face {
  font-family: "bjsicons"; 
  src: url('/static/ttf/iconfont.woff2') format('woff2'),
       url('/static/ttf/iconfont.woff') format('woff'),
       url('/static/ttf/iconfont.ttf') format('truetype')
}

.bjsicons {
  font-family: "bjsicons" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bjs-wechat-icon:before {
  content: "\e617";
}

.bjs-edit:before {
  content: "\e73f";
}

.bjs-baby-avatar:before {
  content: "\e604";
}

.bjs-avatar:before {
  content: "\e66e";
}

.bjs-my-community:before {
  content: "\e664";
}
/* 我的周期购 */
.bjs-cycle-purchase:before {
  content: "\e647";
}

.bjs-scan:before {
  content: "\e649";
}

.bjs-online-service:before {
  content: "\e621";
}

.bjs-points-mall:before {
  content: "\e60d";
}

.bjs-black-card:before {
  content: "\e638";
}

.bjs-VIP:before {
  content: "\e620";
}
/* 我的试用 */
.bjs-on-trial:before {
  content: "\e637";
}
/* 意见反馈 */
.bjs-feedback:before {
  content: "\e68e";
}

.bjs-QRCode:before {
  content: "\e6bd";
}

.bjs-baby-book:before {
  content: "\e659";
}

.bjs-exchange:before {
  content: "\e616";
}

.bjs-my-address:before {
  content: "\e668";
}

.bjs-baby-bottle:before {
  content: "\e640";
}

.bjs-being-pay:before {
  content: "\e624";
}

.bjs-being-send:before {
  content: "\e603";
}

.bjs-being-received:before {
  content: "\e683";
}

.bjs-after-sales:before {
  content: "\e63a";
}

/* 人工智能 */
.bjs-intelligence:before {
  content: "\eb39";
}

.bjs-consignee-info:before {
  content: "\e62b";
}

.bjs-consignee-address:before {
  content: "\e6a8";
}

.bjs-red-heart:before {
  content: "\e663";
}

.bjs-no-goods:before {
  content: "\e602";
}

.bjs-no-goods-show:before {
  content: "\e720";
}

.bjs-share:before {
  content: "\e661";
}

.bjs-xianshigou:before {
  content: "\e614";
}

.bjs-no-sort:before {
  content: "\e85a";
}

.bjs-sort-down:before {
  content: "\e601";
}

.bjs-sort-up:before {
  content: "\e859";
}

.bjs-kids:before {
  content: "\e769";
}

.bjs-wushangpin:before {
  content: "\e755";
}

.bjs-shopping-bag:before {
  content: "\e858";
}

.bjs-goods-icon:before {
  content: "\e606";
}

.bjs-delete:before {
  content: "\e600";
}

.bjs-hot:before {
  content: "\706b";
}

.bjs-shuqian-gray:before {
  content: "\e660";
}

.bjs-shuqian-red:before {
  content: "\e65f";
}

.bjs-search:before {
  content: "\e615";
}


